################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Corkedfever.Jobs.Business/bin/Debug/net8.0
/Corkedfever.Jobs.Business/obj
/Corkedfever.Jobs.Data/bin/Debug/net8.0
/Corkedfever.Jobs.Data/obj
/Corkedfever.Jobs.Data/Corkedfever.Jobs.Data.csproj
/Corkedfever.Jobs.Service/.vs/Corkedfever.Jobs.Service
/Corkedfever.Jobs.Service/bin/Debug/net8.0
/Corkedfever.Jobs.Service/obj
