################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Corkedfever.Jobs.Business/bin/Debug/net8.0
/Corkedfever.Jobs.Business/obj
/Corkedfever.Jobs.Data/bin/Debug/net8.0
/Corkedfever.Jobs.Data/obj
/Corkedfever.Jobs.Service/.vs/Corkedfever.Jobs.Service
/Corkedfever.Jobs.Service/bin/Debug/net8.0
/Corkedfever.Jobs.Service/obj
/Corkedfever.Client.Jobs/bin/Debug/net6.0
/Corkedfever.Client.Jobs/obj
/Corkedfever.Jobs.Service/.vs/ProjectEvaluation
/Corkedfever.Jobs.Service/Migrations
/Corkedfever.Client.Jobs/bin/Release/net6.0
/Corkedfever.Jobs.Business/bin/Release/net8.0
/Corkedfever.Jobs.Data/bin/Release/net8.0
/Corkedfever.Jobs.Service/bin/Release/net8.0
/obj/Docker
